*{
    box-sizing: border-box;
    margin: 0;
}

html{
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    min-height: 100%;}

body{

    flex-direction: column;
    flex: 1 1 0%;
    min-height: 100%;
    background: radial-gradient(circle,rgba(0, 0, 0, 1) 0%, rgba(0, 27, 51, 1) 76%, rgba(0, 0, 0, 1) 93%);
color: black;

font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.dark-mode{
    display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    min-height: 100%;
color: rgb(255, 255, 255);

font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

header{
background-color: black;

}
footer{
    background-color: black;
    color: white;
}
.hijo{
    background-color: black;
}
a{
    color: white;
}
.isotipo{
display: none;
}
.isotipoW{
    display:inline;
}
.redes{
    display: none;
}
.redesW{
    display: inline;
}
.formulario .campo{
    background-color: black;
    color: white;
}
#modeToggle{
    background: radial-gradient(circle, rgba(0, 27, 51, 1) 76%, rgba(0, 0, 0, 1) 0%, rgba(0, 27, 51, 1) 93%);
color:#fff;
}
}

#modeToggle{
background: radial-gradient(circle,rgba(0, 0, 0, 1) 0%, rgba(0, 27, 51, 1) 76%, rgba(0, 0, 0, 1) 93%);


    position: sticky;
  top: 10px;
  align-self: flex-end;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  transition: transform 0.2s;
  z-index: 10;

}

#modeToggle:hover {
  transform: scale(1.05);
}




header{
 padding: 10px 20px;
background-color: #ebebeb;
position: sticky;
top: 0px;
}


header a img{

width: 3%;
text-align: left;
vertical-align: middle;
}


main{
     display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    min-height: 100%;
  
}
.hijo{
    display: flex;
    flex: 1 1 0%;
    min-height: 100%;
    flex-direction: column;
    width: 60%; 
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin: 0 auto;
padding: 0 20px;



}

p{
text-align: center;
padding: 10px 0 10px;

}

.imagenTFK{
max-width: 100%;
text-align: center;
width: 100%;
padding: 15px 0 15px;

}

.imagenCast{
    max-width: 100%;
text-align: center;
width: 100%;
padding: 15px 0 15px;

}

.container{
text-align: center;
padding: 15px 0 15px;
}

.container iframe{
    max-width: 100%;
}

h1{
    padding-bottom: 25px;
    text-decoration: underline
}

h2{
text-align: center;


}
.relleno{
padding: 65px 15px;
}
h3{
    text-align: center;
    padding: 15px 0 15px;
}

h4{
    text-align: center;
}

nav{
float:right;
margin: 0;
padding: 0;
list-style: none;

}

.title{
    text-align: left;
}

li{
    list-style: none;
display: inline;
margin: 1rem;
}

.icono{
    width: 1%;
    max-width: 100px;
}

a{
text-decoration: none;
color: black;


}


.formulario{
width: 95%;
max-width: 900px;
margin: 0 auto;
border: 1px solid;
box-sizing: border-box;

}
.formulario form{
text-align: center;   
    display: block;
    width: 100%;
}
.formulario .campo{
   display: block;
   width:100%;
   
} 
.formulario form > .campo{
   max-width: 350px;
   margin: auto;
    width:100%;
}
textarea{
    min-height: 140px;
    max-height: 150px;
    width:100%;
 
}


.redes{
display: inline;

max-width:30px;

}

footer{
    color: black;
    background-color: #ebebeb;
    width: 100%;
}

.rights{
    text-align: center;
padding: 5px 0 5px;
}

 .plot{
    text-align: center;

padding: 15px 15px;
 }

.error{
width: 100%;

}
 .isotipoW{
    display: none;
 }
 .redesW{
    display: none;
    
    max-width:30px;
    
    }
    .cast{
        display: flex;
        flex-direction: column-reverse;
    }